body{
    margin: 0;
    background-color: whitesmoke;
    color: green;
}
.menu{
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(98, 143, 98);
}
.simbolo{
    margin-left: 6%;
    padding: 20px;
}
.texto_menu{
    display: flex;
    width: 40%;
    margin:0;
    margin-left: 10%;
    padding: 0;
    /*background-color: lightcoral;*/
}
.texto_menu li{
    /*background: lawngreen;*/
    color: whitesmoke;
    width: 33.3%;
    font-size: 13.5pt;
    padding-top:90px;
    text-align: center;
    list-style: none;
}
.texto_menu a{
    /*background: lawngreen;*/
    text-decoration: none;
    color: whitesmoke;
}
.main{
    height: 666px;
}
p{
    color: green;
}
footer{
    background-color: rgb(98, 143, 98);
    width: 100%;
    height: 80px;
    margin-top: 0;
    bottom: 0;
}
footer p{
    text-align: center;
    padding-top: 30px;
    color: whitesmoke;
}